*{
    margin: 0;
    padding: 0;
    font-family: 'poppins', sans-serif;
    box-sizing: border-box;
}

/*Cabecera*/

main{
    
}
.banner{
    width: 100%;
    height: 100vh;
    
    background-image: linear-gradient(rgba(0,0,0,0.85),rgba(0,0,0,0.85)), url(../img/nuestros_especialistas/portada_ne.jpg);
    
    background-size: cover;
    /* permite establecer el tamaño de la imagen de fondo
    
    auto: el primer valor corresponde al tamaño horizontal y el segundo al tamaño vertical, se conserva el tamaño original de la imagen.
    valores numéricos (porcentajes o distancias): el primer valor corresponde al tamaño horizontal y el segundo al tamaño vertical, la imagen se deforma para ajustarse a esos valores.
    contain: la imagen se aumenta o disminuye de manera que pueda verse completa en una de las dimensiones (horizontal o vertical) y se repita en la otra dimensión.
    cover: la imagen se aumenta o disminuye de manera que ocupe todo el espacio disponible en una dimensión (horizontal o vertical) y se corta en la otra dimensión. */
    background-position: center;
    
    /* La propiedad background-position permite establecer la posición de la imagen de fondo. A esta propiedad hay que darle dos valores: la posición horizontal y la posición vertical.

    Los posibles valores de background-position son:

    valores numéricos (porcentajes o distancias)
    left, center y right: establecen la posición horizontal (izquierda, centro y derecha, respectivamente)
    top, center, bottom: establece la posición vertical (arriba, en medio, abajo, respectivamente) */
    

}

.navbar{
    width: 85%;
    margin: auto;
    padding: 35px 0;
    display: flex;
    /* display permite definir el tipo de contenedor flexible:
    flex: el contenedor se comporta como un bloque, es decir, ocupa todo el espacio horizontal disponible  */

    align-items: center;
    /* align-items establece la forma en que se alinean los elementos en la dirección secundaria.
    los elementos se sitúan en el centro de la dirección secundaria */
    justify-content: space-between;
    /* justify-content establece la forma en que se reparte el espacio libre disponible en la dirección principal. */
    /* space-between:el espacio disponible se reparte entre los elementos */
    
}

.logo{
    width: 170px;
    cursor: pointer;

}

.navbar ul li{
    list-style: none;
    
    display: inline-block;
    /* display permite especificar el tipo de caja que se aplica en un elemento */
    /* none: hace que no se genere caja
    block: caja rectangular que forma un bloque
    inline: caja en-línea que puede ocupar varias líneas y está incluida en una caja de tipo block
    inline-block: caja en-línea, pero que se formatea como una caja de tipo block
    run-in: caja de tipo inline, pero que se añade al principio del elemento siguiente
    list-item: caja de tipo block pero que también incluye un marcador */
    margin: 0 20px;
    position: relative;
    /* background: red; */
}

.navbar ul li a{
    text-decoration: none;
    color: #fff;
    font-family: sans-serif;

}

.navbar ul li::after{
    content: '';
    height: 3px;
    width: 0;
    background: #ffc107;
    position: absolute;
    left: 0;
    bottom: -10px;
    transition: 0.5s;
    /* transition:Permite definir la transición entre dos estados de un elemento */

}

.navbar ul li:hover::after{
    width: 100%;
}

/*content*/

.content{
    
    width: 100%;
    position: absolute;
    top: 60%;
    transform: translateY(-50%);
    /* transform te permite modificar el espacio de coordenadas del modelo de formato visual CSS */
    text-align: center;
    color: #fff;
    background: red;
    
}

.title{
    font-size: 3rem;
    line-height: 100px;
    font-weight: bold;
    height: 100px;
    text-align: left;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    color: whitesmoke;
    text-transform: uppercase;
}

.slider{
    color: #ffc107;
    margin-left: 12px;
    box-sizing: border-box;
    animation: slider 6s linear infinite;
    /* background: red; */
}

@keyframes slider{
    0%{margin-top: -400px;}
    5%{margin-top: -200px;}
    30%{margin-top: -200px;}
    35%{margin-top: 0px;}
    65%{margin-top: 0px;}
    70%{margin-top: 200px;}
    100%{margin-top: 200px;}
}


.content p{
    
    margin: 20px;
    font-weight: 100;
    line-height: 25px;
    /* line-height se utiliza para especificar el interlineado de un bloque de texto */
    font-family: sans-serif;
}

button{
    padding: 15px 25px;
    /*del elemento central(texto) espaciado arriba y abajo 15px
    a la izquierda y derecha 25px con el elemento contenedor button*/
    margin: 20px;
    font-size: 16px;
    
    letter-spacing: 1px;
    border: 2px solid #ffc107;
    color: #fff;
    cursor: pointer;
    
    background: linear-gradient(to right, transparent 50%, #ffc107 50%);
    background-size: 200%;
    /*------*/
    background-position: left;
    transition: background-position 0.5s;
}

button:hover{
    background-position: right;
    color: #000;
    /*-----*/
}

/*End Cabecera*/



/*Footer*/
/* body{
    background: #eef8ff;
    
} */

.container_1{
    width: 100%;
    /* background: green; */
    margin-top: 200px;
}


 footer{
    width: 100%;
    position: absolute;
    /* bottom: 0; */
    background: linear-gradient(to right, #00093c, #2d0b00);
    color: #fff;
    padding: 100px 0 30px;
    
    border-top-left-radius: 125px;
    font-size: 13px;
    line-height:20px;

    margin: auto;

} 

.row{
    width: 85%;
    
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    /* flex-wrap:establece si los elementos se colocan en una sola línea o en varias
    no-wrap: los elementos se colocan en una sola línea.
    wrap: los elementos se colocan en varias líneas si no caben en una sola línea. 
    wrap-reverse: los elementos se colocan en varias líneas si no caben en una sola línea, pero las líneas se muestran de abajo arriba.  */

    align-items: flex-start;
    /* align-items establece la forma en que se alinean los elementos en la dirección secundaria */
    justify-content:space-between;
    /* justify-content establece la forma en que se reparte el espacio libre disponible en la dirección principal.
    flex-start: los elementos se sitúan al principio de la dirección principal, es decir, el espacio disponible se sitúa al final
    flex-end: los elementos se sitúan al final de la dirección principal, es decir, el espacio disponible se sitúa al principio. 
    center: los elementos se sitúan en el centro de la dirección principal, es decir, el espacio disponible se reparte entre el principio y el final. 
    space-between: el espacio disponible se reparte entre los elementos.  */
    
}

.col{
    flex-basis: 25%;
    padding: 10px;
    
}

.logo{
    width: 80px;
    margin-bottom: 30px;

}

.col h3{
    width: fit-content;
    /*-----*/
    margin-bottom: 40px;
    position: relative;
}


.email-id{
    width: fit-content;
    border-bottom: 1px solid #ccc;
    margin: 20px 0;
}

ul li{
    list-style: none;
    margin-bottom: 12px;
}

ul li a{
    text-decoration: none;
    color: #fff;
}


/*End Footer*/


.contenedor{
    max-width: 45rem;
    margin: 0 auto ;
    text-align: center;
    
}
.boton{
    background-color:rgb(22 10 10 /40%);
    color:blanchedalmond;
    padding: 0.5rem 3rem;
    margin-top: 1rem;
    font-size: 1rem;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    border-radius: .5rem;
    width: 90%;
    text-align: center;
}
.servicios{
    background-color: rgb(232 232 232 /40%);
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    
}
h1,h2,h3{
    text-align: center;
    padding: 0.5rem;
}
p{
    text-align: center;
}